frontend/node_modules
frontend/build
frontend/firebase-debug.log*
frontend/firebase-debug.*.log*
frontend/firebase-debug.*.log
web/node_modules
web/build
web/target
med/node_modules
med/build
med/firebase-debug.log*
med/firebase-debug.*.log*
med/firebase-debug.*.log
frontend/.next
frontend/node_modules
frontend/build
frontend/firebase-debug.log*
frontend/firebase-debug.*.log*
frontend/firebase-debug.*.log
node_modules
.next
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*./node_modules
*./build
*./target
*./firebase-debug.log*
*./firebase-debug.*.log*
*./firebase-debug.*.log
medi/*
